dist/
client/client/
build/
mc-build/
cmake-build-debug/
.verysync
.history/
.vscode/
.svn/
.git/
.idea/
.und/
__pycache__/
.DS_Store
tags
*.log
*.tmp
*.m~
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.manifest
*.spec
*.dist-info
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.tgz
*.tbz
*.tbz2